# SimpleGeo.py
<hr style="border:2px solid #0077b9;">

SimpleGeo.py is a Python Client API for access data delivery over WFS and WTSS.

## GIT Repository
<hr style="border:2px solid #0077b9;">
<img src="./imgs/simplegeo.git.png" style="width: 1200px;"/>
URL: [github.com/e-sensing/simple_geo.py](github.com/e-sensing/simple_geo.py)

## Using SimpleGeo.py
<hr style="border:2px solid #0077b9;">

### Listing Features e Coverages
<hr style="border:2px solid #0077b9;">

In [4]:
from SimpleGeo import SimpleGeo, Predicates as pre

# connect to wfs and wtss servers
s = SimpleGeo(wfs="http://www.terrama2.dpi.inpe.br/e-sensing/geoserver", wtss="http://www.terrama2.dpi.inpe.br/e-sensing")

# print available features
print("Features:")
for f in s.features()['features']:
    print("\t{}".format(f))

# print available coverages
print("\nCoverages:")
for c in s.coverages()['coverages']:
    print("\t{}".format(c))

Features:
	esensing:amostras_cerrado
	esensing:estados_bra
	esensing:focos_bra_2016
	esensing:municipios_bra

Coverages:
	rpth

## Retrieving Feature
<hr style="border:2px solid #0077b9;">

In [2]:
# Feature estados_bra
f = s.feature('esensing:estados_bra')

metadata = f.describe()

#print(metadata)

print("Nome: {}".format(metadata['full_name']))
print("Tipo: {}".format(metadata['geometry']['localtype']))

print("Atributos:")
for att in metadata['attributes']:
    print("\t{:<12}: {}".format(att['name'], att['localtype']))

Nome: esensing:estados_bra
Tipo: MultiPolygon
Atributos:
	nome        : string
	geometria   : MultiPolygon
	pais        : string
	regiao      : string

## Retrieving Coverages Metadata
<hr style="border:2px solid #0077b9;">

In [4]:
# Coverage rpth
c = s.coverage('rpth')

metadata = c.describe()
print("Nome: {}".format(metadata['name']))
print("Proj4: {}".format(metadata['crs']['proj4']))
print("Timeline: {} ... {}".format(metadata['timeline'][1], metadata['timeline'][-1]))
print("Atributos:")
for att in metadata['attributes']:
    print("\t{}".format(att))

#print(metadata)

Nome: rpth
Proj4: +proj=longlat +ellps=WGS84 +datum=WGS84 +no_defs
Timeline: 2016-01-02 ... 2016-12-31
Atributos:
	humidity
	precipitation
	risk
	temperature

## Retrieving Features
<hr style="border:2px solid #0077b9;">

In [5]:
f = s.feature('esensing:estados_bra')
estados = f.get()
# displaying 
display(estados.head(n=10))

,bbox,geometry,nome,pais,regiao
0,"[-54.6193, -26.7171, -48.0235, -22.5163]","(POLYGON ((-52.0519 -22.5393, -52.0461 -22.539...",Paraná,Brazil,S
1,"[-57.6439, -33.7521, -49.6914, -27.0823]","(POLYGON ((-53.0318 -27.1595, -53.0299 -27.159...",Rio Grande do Sul,Brazil,S
2,"[-53.8369, -29.3551, -48.3271, -25.9558]","(POLYGON ((-48.8215 -28.6111, -48.8216 -28.611...",Santa Catarina,Brazil,S
3,"[-51.0461, -22.9228, -39.8568, -14.2332]","(POLYGON ((-44.2098 -14.2446, -44.2091 -14.246...",Minas Gerais,Brazil,SE
4,"[-44.8893, -23.3689, -40.9585, -20.7632]","(POLYGON ((-44.7189 -23.3591, -44.7196 -23.359...",Rio de Janeiro,Brazil,SE
5,"[-38.2376, -10.5012, -35.152, -8.8131]","(POLYGON ((-35.4675 -8.817399999999999, -35.46...",Alagoas,Brazil,NE
6,"[-46.6171, -18.3486, -37.3411, -8.5328]","(POLYGON ((-38.6548 -18.0424, -38.6582 -18.043...",Bahia,Brazil,NE
7,"[-41.4235, -7.8582, -37.2533, -2.7842]","(POLYGON ((-40.4972 -2.7845, -40.4917 -2.7881,...",Ceará,Brazil,NE
8,"[-48.7552, -10.2618, -41.7959, -1.044]","(POLYGON ((-43.9991 -2.3927, -43.9994 -2.3959,...",Maranhão,Brazil,NE
9,"[-38.7656, -8.303, -34.7929, -6.0259]","(POLYGON ((-34.8595 -6.9842, -34.8583 -6.9843,...",Paraíba,Brazil,NE

## SimpleGeo Features Methods
<hr style="border:2px solid #0077b9;">

### Retrieving Features methods


- attributes: selects attributes to be retrieved
- max_features: limit the number of features returned
- sort_by: sorts by the returning features using one (ou more) attributes
- filter: filtering features by its spatial and non-spatial attributes

### attributes
<hr style="border:2px solid #0077b9;">

In [6]:
f = s.feature('esensing:estados_bra').attributes(['nome','regiao'])
estados = f.get()
# displaying 
display(estados.head(n=10))

,bbox,geometry,nome,regiao
0,"[-54.6193, -26.7171, -48.0235, -22.5163]","(POLYGON ((-52.0519 -22.5393, -52.0461 -22.539...",Paraná,S
1,"[-57.6439, -33.7521, -49.6914, -27.0823]","(POLYGON ((-53.0318 -27.1595, -53.0299 -27.159...",Rio Grande do Sul,S
2,"[-53.8369, -29.3551, -48.3271, -25.9558]","(POLYGON ((-48.8215 -28.6111, -48.8216 -28.611...",Santa Catarina,S
3,"[-51.0461, -22.9228, -39.8568, -14.2332]","(POLYGON ((-44.2098 -14.2446, -44.2091 -14.246...",Minas Gerais,SE
4,"[-44.8893, -23.3689, -40.9585, -20.7632]","(POLYGON ((-44.7189 -23.3591, -44.7196 -23.359...",Rio de Janeiro,SE
5,"[-38.2376, -10.5012, -35.152, -8.8131]","(POLYGON ((-35.4675 -8.817399999999999, -35.46...",Alagoas,NE
6,"[-46.6171, -18.3486, -37.3411, -8.5328]","(POLYGON ((-38.6548 -18.0424, -38.6582 -18.043...",Bahia,NE
7,"[-41.4235, -7.8582, -37.2533, -2.7842]","(POLYGON ((-40.4972 -2.7845, -40.4917 -2.7881,...",Ceará,NE
8,"[-48.7552, -10.2618, -41.7959, -1.044]","(POLYGON ((-43.9991 -2.3927, -43.9994 -2.3959,...",Maranhão,NE
9,"[-38.7656, -8.303, -34.7929, -6.0259]","(POLYGON ((-34.8595 -6.9842, -34.8583 -6.9843,...",Paraíba,NE

### max_features
<hr style="border:2px solid #0077b9;">

In [7]:
f = s.feature('esensing:estados_bra').attributes(['nome','regiao']).max_features(5)
estados = f.get()
# displaying
display(estados)

,bbox,geometry,nome,regiao
0,"[-54.6193, -26.7171, -48.0235, -22.5163]","(POLYGON ((-52.0519 -22.5393, -52.0461 -22.539...",Paraná,S
1,"[-57.6439, -33.7521, -49.6914, -27.0823]","(POLYGON ((-53.0318 -27.1595, -53.0299 -27.159...",Rio Grande do Sul,S
2,"[-53.8369, -29.3551, -48.3271, -25.9558]","(POLYGON ((-48.8215 -28.6111, -48.8216 -28.611...",Santa Catarina,S
3,"[-51.0461, -22.9228, -39.8568, -14.2332]","(POLYGON ((-44.2098 -14.2446, -44.2091 -14.246...",Minas Gerais,SE
4,"[-44.8893, -23.3689, -40.9585, -20.7632]","(POLYGON ((-44.7189 -23.3591, -44.7196 -23.359...",Rio de Janeiro,SE

### sort_by
<hr style="border:2px solid #0077b9;">

In [8]:
# ASC
f = s.feature('esensing:estados_bra').attributes(['nome','regiao']).max_features(5).sort_by('nome')
estados = f.get()
# displaying
display(estados)

,bbox,geometry,nome,regiao
0,"[-73.9904, -11.1456, -66.6238, -7.1118]","(POLYGON ((-73.1825 -7.3355, -73.1367999999999...",Acre,N
1,"[-38.2376, -10.5012, -35.152, -8.8131]","(POLYGON ((-35.4675 -8.817399999999999, -35.46...",Alagoas,NE
2,"[-54.8763, -1.2362, -49.8762, 4.4367]","(POLYGON ((-50.1812 1.901, -50.1769 1.8992, -5...",Amapá,N
3,"[-73.8016, -9.818, -56.0976, 2.2466]","(POLYGON ((-67.3261 2.0297, -67.3168 2.0012, -...",Amazonas,N
4,"[-46.6171, -18.3486, -37.3411, -8.5328]","(POLYGON ((-38.6548 -18.0424, -38.6582 -18.043...",Bahia,NE

In [5]:
# DESC
f = s.feature('esensing:estados_bra').attributes(['nome','regiao']).max_features(5).sort_by(pre.DESC('nome'))
estados = f.get()
# displaying
display(estados)

,bbox,geometry,nome,regiao
0,"[-50.7421, -13.4677, -45.6967, -5.1684]","(POLYGON ((-48.3588 -5.1701, -48.3562 -5.1719,...",Tocantins,N
1,"[-38.245, -11.5687, -36.3939, -9.515]","(POLYGON ((-37.9924 -9.5251, -37.9893 -9.5274,...",Sergipe,NE
2,"[-53.1101, -25.3123, -44.1614, -19.7797]","(POLYGON ((-48.0017 -25.2489, -48.0019 -25.249...",São Paulo,SE
3,"[-53.8369, -29.3551, -48.3271, -25.9558]","(POLYGON ((-48.8215 -28.6111, -48.8216 -28.611...",Santa Catarina,S
4,"[-64.8253, -1.5806, -58.8869, 5.2718]","(POLYGON ((-60.2005 5.2643, -60.1983 5.2605, -...",Roraima,N

### filter
<hr style="border:2px solid #0077b9;">

- Non-spatial predicates:
    - EQ: equal
    - NE: different
    - LT: less than
    - GT: greater than
    - LE: less or equal than
    - GE: greater or equal than
    - AND: and
    - OR: or

- Spatial predicates:
    - WITHIN: within
    - INTERSECTS: intersects

In [6]:
# Only South region
f = s.feature('esensing:estados_bra')\
     .filter(pre.EQ('regiao','S'))
estados = f.get()
# displaying 
display(estados)

,bbox,geometry,nome,pais,regiao
0,"[-54.6193, -26.7171, -48.0235, -22.5163]","(POLYGON ((-52.0519 -22.5393, -52.0461 -22.539...",Paraná,Brazil,S
1,"[-57.6439, -33.7521, -49.6914, -27.0823]","(POLYGON ((-53.0318 -27.1595, -53.0299 -27.159...",Rio Grande do Sul,Brazil,S
2,"[-53.8369, -29.3551, -48.3271, -25.9558]","(POLYGON ((-48.8215 -28.6111, -48.8216 -28.611...",Santa Catarina,Brazil,S

In [7]:
# South or North regions
f = s.feature('esensing:estados_bra')\
     .filter(pre.OR(
             pre.EQ('regiao','S'),
             pre.EQ('regiao','N')
         ))
estados = f.get()
# displaying 
display(estados)

,bbox,geometry,nome,pais,regiao
0,"[-54.6193, -26.7171, -48.0235, -22.5163]","(POLYGON ((-52.0519 -22.5393, -52.0461 -22.539...",Paraná,Brazil,S
1,"[-57.6439, -33.7521, -49.6914, -27.0823]","(POLYGON ((-53.0318 -27.1595, -53.0299 -27.159...",Rio Grande do Sul,Brazil,S
2,"[-53.8369, -29.3551, -48.3271, -25.9558]","(POLYGON ((-48.8215 -28.6111, -48.8216 -28.611...",Santa Catarina,Brazil,S
3,"[-73.9904, -11.1456, -66.6238, -7.1118]","(POLYGON ((-73.1825 -7.3355, -73.1367999999999...",Acre,Brazil,N
4,"[-54.8763, -1.2362, -49.8762, 4.4367]","(POLYGON ((-50.1812 1.901, -50.1769 1.8992, -5...",Amapá,Brazil,N
5,"[-73.8016, -9.818, -56.0976, 2.2466]","(POLYGON ((-67.3261 2.0297, -67.3168 2.0012, -...",Amazonas,Brazil,N
6,"[-58.8983, -9.8412, -46.0609, 2.591]","(POLYGON ((-46.0609 -1.0947, -46.0667 -1.1052,...",Pará,Brazil,N
7,"[-66.8103, -13.6937, -59.7744, -7.9693]","(POLYGON ((-63.3272 -7.9767, -63.1184 -7.9771,...",Rondônia,Brazil,N
8,"[-64.8253, -1.5806, -58.8869, 5.2718]","(POLYGON ((-60.2005 5.2643, -60.1983 5.2605, -...",Roraima,Brazil,N
9,"[-50.7421, -13.4677, -45.6967, -5.1684]","(POLYGON ((-48.3588 -5.1701, -48.3562 -5.1719,...",Tocantins,Brazil,N

In [8]:
f = s.feature("esensing:focos_bra_2016") \
    .attributes(["id", "municipio", "timestamp", "regiao"]) \
    .filter(pre.OR(
    pre.AND(
        pre.EQ("satelite_referencia", "true"),
        pre.GE("timestamp", "2016-01-01"),
        pre.LT("timestamp", "2016-02-01"),
        pre.WITHIN(
            "POLYGON((-49.515628859948507 -19.394602563415745,-48.020567850467053 -19.610579617637825,-48.354439522883652 -21.052347219666608,-49.849500507163917 -20.836369963642884,-49.515628859948507 -19.394602563415745))"),
    ), \
    pre.NE("regiao", "SE") \
    )) \
    .max_features(10) \
    .sort_by(pre.DESC("municipio"))
    
focos = f.get()
display(focos)

,bbox,geometry,id,municipio,regiao,timestamp
0,"[-51.499, -27.415, -51.499, -27.415]",POINT (-51.499 -27.415),48020995,Zortéa,S,2016-08-06T16:55:00Z
1,"[-51.544, -27.543, -51.544, -27.543]",POINT (-51.544 -27.543),48021014,Zortéa,S,2016-12-01T17:00:00Z
2,"[-51.556, -27.51, -51.556, -27.51]",POINT (-51.556 -27.51),48020989,Zortéa,S,2016-08-06T16:54:39Z
3,"[-51.565, -27.511, -51.565, -27.511]",POINT (-51.565 -27.511),48020993,Zortéa,S,2016-08-06T16:54:39Z
4,"[-51.558, -27.512, -51.558, -27.512]",POINT (-51.558 -27.512),48020997,Zortéa,S,2016-08-06T16:55:00Z
5,"[-51.569, -27.475, -51.569, -27.475]",POINT (-51.569 -27.475),48021013,Zortéa,S,2016-08-28T04:15:00Z
6,"[-51.503, -27.416, -51.503, -27.416]",POINT (-51.503 -27.416),48020985,Zortéa,S,2016-08-06T17:04:37Z
7,"[-51.497, -27.417, -51.497, -27.417]",POINT (-51.497 -27.417),48020987,Zortéa,S,2016-08-06T16:54:39Z
8,"[-51.563, -27.513, -51.563, -27.513]",POINT (-51.563 -27.513),48020991,Zortéa,S,2016-08-06T16:55:00Z
9,"[-51.504, -27.458, -51.504, -27.458]",POINT (-51.504 -27.458),48021018,Zortéa,S,2016-07-29T17:45:00Z

## Time Series
<hr style="border:2px solid #0077b9;">

In [9]:
from shapely.geometry import Point
# Time Series

c = s.coverage("rpth") \
    .attributes(["precipitation", "risk", "temperature", "humidity"])

ts = s.time_series(c) \
    .period("2016-01-01", "2016-01-04")

ts_data = ts.get(Point(-54.0, -12.0))
display(ts_data)

            humidity  precipitation      risk  temperature
2016-01-01  0.620963       0.840492  0.047310   303.245178
2016-01-02  0.531946       5.364658  0.021442   303.892456
2016-01-03  0.734242       2.840686  0.029456   300.913147
2016-01-04  0.535269       3.866830  0.034228   304.197449

In [10]:
# Lista de Pontos
ts_data = ts.get([Point(-54.0, -12.0), Point(-54.0, -13.0)])
for t in ts_data:
    display(t)

            humidity  precipitation      risk  temperature
2016-01-01  0.620963       0.840492  0.047310   303.245178
2016-01-02  0.531946       5.364658  0.021442   303.892456
2016-01-03  0.734242       2.840686  0.029456   300.913147
2016-01-04  0.535269       3.866830  0.034228   304.197449

            humidity  precipitation      risk  temperature
2016-01-01  0.570955       1.923350  0.042945   303.669464
2016-01-02  0.667068       5.284581  0.024789   301.866028
2016-01-03  0.790824       5.740402  0.018523   299.142426
2016-01-04  0.460336       0.241759  0.102072   305.305603

## Integrating Features Time Series data
<hr style="border:2px solid #0077b9;">

In [12]:
# Time Series
c = s.coverage("rpth") \
    .attributes(["precipitation", "risk", "temperature", "humidity"])
ts = s.time_series(c)

# Feature + Time Series
f = s.feature("esensing:focos_bra_2016") \
    .attributes(
    ["id", "municipio", "timestamp", "regiao",
     {'time_series': ts, 'start_date': 0, 'end_date': 0, 'datetime': 'timestamp'}]) \
    .sort_by("timestamp") \
    .max_features(5)
display(f.get())

,bbox,geometry,id,municipio,regiao,timestamp,humidity,precipitation,risk,temperature
0,"[-52.31, -2.95, -52.31, -2.95]",POINT (-52.31 -2.95),45276709,Vitória Do Xingu,N,2016-01-01T00:00:00Z,0.565847,2.938754,0.536405,304.520020
1,"[-63.68, 0.5, -63.68, 0.5]",POINT (-63.68 0.5),25231226,Barcelos,N,2016-01-01T00:00:00Z,0.473713,0.000000,0.415944,305.005859
2,"[-63.66, 0.5, -63.66, 0.5]",POINT (-63.66 0.5),25239660,Barcelos,N,2016-01-01T00:00:00Z,0.473829,0.000000,0.438030,305.018280
3,"[-52.33, -2.95, -52.33, -2.95]",POINT (-52.33 -2.95),42899497,Brasil Novo,N,2016-01-01T00:00:00Z,0.567601,2.650581,1.000000,304.486359
4,"[-61.1, -11.34, -61.1, -11.34]",POINT (-61.1 -11.34),46941054,Cacoal,N,2016-01-01T00:00:00Z,0.623452,0.027066,0.154713,302.489166

### Cache
<hr style="border:2px solid #0077b9;">

In [ ]:
from SimpleGeo import Predicates as pre
import time

# connect to wfs and wtss servers
s = SimpleGeo(wfs="http://www.terrama2.dpi.inpe.br/e-sensing/geoserver", wtss="http://www.terrama2.dpi.inpe.br/e-sensing", cache=True, cache_dir="/tmp/.cache")
s.clear_cache()
f = s.feature("esensing:focos_bra_2016") \
    .attributes(["id", "municipio", "timestamp", "regiao"]) \
    .filter(pre.OR(
    pre.AND(
        pre.EQ("satelite_referencia", "true"),
        pre.GE("timestamp", "2016-01-01"),
        pre.LT("timestamp", "2016-02-01"),
        pre.WITHIN(
            "POLYGON((-49.515628859948507 -19.394602563415745,-48.020567850467053 -19.610579617637825,-48.354439522883652 -21.052347219666608,-49.849500507163917 -20.836369963642884,-49.515628859948507 -19.394602563415745))"),
    ), \
    pre.NE("regiao", "SE") \
    )) \
    .max_features(10) \
    .sort_by(pre.DESC("municipio"))

start = time.time()
focos = f.get()
end = time.time()

# total time
print("Elapsed time: {}s".format(end-start))